*.iml
.gradle
/local.properties
.idea
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
app/src/main/cpp/build
/captures
.externalNativeBuild
.cxx
local.properties
/qnn_sdk/build/qtld-release.aar
/app/src/main/assets/whisper-decoder-base.tflite
/app/src/main/assets/whisper-encoder-base.tflite
/qnn_sdk/build/.transforms/
